body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    padding: 50px;
  }
  
  input[type="text"], input[type="password"], input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #b3f0f5;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #81e2eb;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #b3f0f5;
  }


  /* Progress bar styles */
  #progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
  }

  #progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    line-height: 20px;
    color: white;
  }

  #upload-status {
    margin-top: 10px;
  }
  